@font-face {
  font-family: "nerd-fonts";
  src: url("./fonts/Symbols-2048-em\ Nerd\ Font\ Complete.ttf");
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* global rules */
i {
  font-family: "nerd-fonts";
}

#container {
  margin: 10px;
}

header {
  display: flex;
  gap: 10px;
}

.title-box {
  padding: 10px;
}

main {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

aside {
  flex-basis: 35%;
}

aside .locations {
  display: none;
}

main section#records-container {
  flex-basis: 65%;
}

section h2 {
  text-align: center;
  color: blue;
}

.locations span {
  width: 100%;
  display: block;
  text-align: center;
}

#records-box {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  text-align: center;
  margin: 10px auto;
  gap: 10px;
}

#records-box figure {
  flex-basis: 200px;
  position: relative;
  height: 150px;
  margin: 10px auto;
  padding: 10px;
  border: 3px solid lightblue;
  font-family: "nerd-fonts";
}

/*creates an overlay for figures meaning layer on top of elements */
#records-box figure::before {
  content: "";
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
}

#records-box figure i::after {
  position: absolute;
  top: 10px;
  right: 15px;
}

i.exclamation::after {
  content: "\f071";
  color: red;
}

i.checkmark::after {
  content: "\f058";
  color: green;
}

figure img {
  width: 100%;
  max-width: 64px;
}

.locations {
  visibility: visible;
}
